.button {
  font-size: 8px;
}

h1 {
  color: #e5ecef;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  font-family: "Dancing Script", cursive;
}

#temperature {
  color: #e5ecef;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #e5ecef;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wraper {
  max-width: 600px;
  margin: 30px auto;
  background-color: #05e8ba;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 7px;
}
.overview {
  margin-top: 10px;
  font-size: 10px;
}

#description {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 10px;
}

.weather-details {
  margin-left: 70px;
  margin-top: 3px;
  margin-bottom: 9px;
}

.weather-temperature img {
  margin-right: 5px;
  margin-top: -30px;
  height: 69px;
  width: 69px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  font-family: "Dancing Script", cursive;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #e5ecef;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .inactive {
  cursor: default;
  text-decoration: none;
  color: #e5ecef;
  opacity: 0.6;
}

.btn1 {
  background-color: white;
  color: #087ee1;
}

.btn2 {
  background-color: white;
  color: #087ee1;
}

.weather-forecast {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #e5ecef;
  font-family: "Dancing Script", cursive;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}

#signature {
  color: #e5ecef;
  font-family: "Dancing Script", cursive;
}
